
body {
    margin: 0;
    font-family: "Tajawal", sans-serif !important;
    background: #cc0000;
    overflow-x: hidden
}

.background {
    width: 100vw;
    height: 100vh;
}

    .background span {
        width: 20vmin;
        height: 20vmin;
        border-radius: 20vmin;
        backface-visibility: hidden;
        position: absolute;
        animation-name: move;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

        .background span:nth-child(1) {
            color: #660000;
            top: 34%;
            left: 89%;
            animation-duration: 16.6s;
            animation-delay: -8.8s;
            transform-origin: -8vw -13vh;
            box-shadow: 40vmin 0 10vmin currentColor;
        }

        .background span:nth-child(2) {
            color: #FF6562;
            top: 18%;
            left: 58%;
            animation-duration: 12.3s;
            animation-delay: -11.4s;
            transform-origin: -5vw 6vh;
            box-shadow: -40vmin 0 10vmin currentColor;
        }

        .background span:nth-child(3) {
            color: #FFCCCC;
            top: 63%;
            left: 9%;
            animation-duration: 9.7s;
            animation-delay: -1.5s;
            transform-origin: 10vw 15vh;
            box-shadow: 40vmin 0 10vmin currentColor;
        }

        .background span:nth-child(4) {
            color: #660000;
            top: 80%;
            left: 28%;
            animation-duration: 11.1s;
            animation-delay: -14.8s;
            transform-origin: 22vw -17vh;
            box-shadow: -40vmin 0 10vmin currentColor;
        }

        .background span:nth-child(5) {
            color: #FF6562;
            top: 76%;
            left: 18%;
            animation-duration: 16.7s;
            animation-delay: -5.7s;
            transform-origin: -4vw 22vh;
            box-shadow: 40vmin 0 10vmin currentColor;
        }

/* Add more child elements if needed up to the specified amount */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
a {
    text-decoration: none;
    color: black;
}
.body-content {
    display: flex;
    justify-content: center;
}
.soical {
    display: grid;
    gap: 15px;
}
.content {
    background-color: rgb(0 0 0 / 20%);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0,0,0,.25);
    box-sizing: border-box;
    padding: 10vmin;
    text-align: center;
    transform: translate(0%, 5%);
    width: 50%;
}
.div-icon {
    border: 1px solid;
    border-radius: 50%;
    padding: 3px 7px;
}
.logo img {
    max-width: 20%;
}
.description {
    color: white;
    font-size: 20px;
    margin: 16px 0px;
}
    .description p{
        display:inline
    }

    .container-social {
        background-color: white;
        border-radius: 14px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }
.container-social p {
    margin:0;
}
    .container-social h1{
        margin:0
    }

#copyright{
    color:white
}
.majestic-link {
    color: white;
    font-weight: bold;
}

    .majestic-link:hover {
        color: black;
    }

.Gabrini-link {
    color: #fcd4a8;
    font-weight: bold;
}

.primary-color {
    color: #fcd4a8;
    display: inline;
    font-weight: bold;
}


@media screen and (max-width: 425px) {
    .logo img {
        max-width: 75% !important;
    }
}

@media screen and (max-width: 768px) {
    .logo img {
        max-width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        width: 75% !important;
    }
}