@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabrini Cosmetics - Jordan</title>

    <link rel="shortcut icon" href="~/images/gabrinicosmetics/gabrini-icone.png">
    <link href="~/css/qrcode.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">

    <!--Font awesome-->
    <link href="~/Admin/Font-Awesome-Pro-6.2.1-main/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <div class="background">
        <div class="body-content">
            <div class="content">
                <div class="logo">
                    <img alt="Gabrini Cosmetics" src="~/images/gabrinicosmetics/gabrini-logo.png" />
                </div>
                <div class="description">
                    <div>Rise Up Your Beauty To Amaze Everyone <br></div>
                    <p class="primary-color">Gabrini Cosmetics </p>
                    <p>We Are The First Choice For Cosmetics In Jordan</p>
                </div>
                <div class="soical">
                    <a href="tel:+962796194630">
                        <div class="container-social">
                            <div class="div-icon">
                                <i class="fa-regular fa-phone"></i>
                            </div>
                            <p>Get in Touch</p>
                            <h1></h1>
                        </div>
                    </a>
                    <a href="mailto:support@gabrinijo.com">
                        <div class="container-social">
                            <div class="div-icon">
                                <i class="fa-light fa-envelope"></i>
                            </div>
                            <p>Email</p>
                            <h1></h1>
                        </div>
                    </a>
                    <a href="https://gabrinijo.com/" target="_blank">
                        <div class="container-social">
                            <div class="div-icon">
                                <i class="fa-light fa-earth-americas"></i>
                            </div>
                            <p>Official Website</p>
                            <h1></h1>
                        </div>
                    </a>
                    <a href="https://www.facebook.com/gabrinijo" target="_blank">
                        <div class="container-social">
                            <div class="div-icon">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <p>Facebook</p>
                            <h1></h1>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/gabrinijo" target="_blank">
                        <div class="container-social">
                            <div class="div-icon">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <p>Instagram</p>
                            <h1></h1>
                        </div>
                    </a>
                </div>
                <div id="copyright">
                    <p class="mb-0">Copyright &copy; 2024 <a href="https://gabrinijo.com/" class="Gabrini-link">Gabrini Cosmetics - Jordan</a>. All rights reserved.</p>
                    <p class="mb-0">Powered by <a class="majestic-link" href="https://majesticagency.net/">Majestic Agency</a></p>
                </div>
            </div>

        </div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</body>
</html>